/* notestyles by Bliss*/

/* whole web pages */
body {
	width: 800px;
	margin: 0 auto; /* center */
    margin-bottom: 15px;
	margin-top: 15px;
    background-color: #d0d0d0;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    font-size: 12pt;
    border-style: dotted;
    border-width: 5px;
    border-color: #fff;
    padding: 20px;
    
    min-height: 1000px;
    min-width: 800px;

    border-radius: 30px;
    -moz-border-radius: 30px; /* old Firefox */
}

/*
    h1: article title
    h2: article subtitle
    h3: chapter
    h4: chapter sub-heading
    h5: chapter sub-sub-heading
    h6:
     */
h1 {
    margin: 0px;
    font-weight: normal;
    font-size: 18pt;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 16pt;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

h3,
h4 {
    margin-bottom: 2px;
    font-weight: normal;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    color: #000;
    text-shadow: 5px 5px 3px #888;
}

h3 {
    font-size: 14pt;
    margin-top: 35px;
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
}

h4 {
    font-size: 12pt;
    margin-top: 15px;
    color: #000;
    font-weight: bold;
}

a:link {
    color: #000000;
}

a:visited {
    color: #575757;
}

a:hover {
    color: #f00;
}

a:active {
    color: #f00;
}

ul li {
    list-style-type: disc;
}

/* make all italic be bold as well*/
i {
    font-weight: bold;
}

/* table style */
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11pt;
    color:#333333;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    padding: 8px;
    background-color: #dedede;
}
table.gridtable td {
    padding: 8px;
    background-color: #ffffff;
}
/*
未读完不值得读-浅灰色 bk0
读完不值得再读-浅棕色 bk1
笔记值得反复看-浅绿色 bk2
原作值得反复读-浅蓝色 bk3
原作可买来收藏-浅红色 bk4
*/
.gridtable tr.bk0 td {
    background-color: #f00; 
}
.gridtable tr.bk1 td {
    background-color: #330;
}
.gridtable tr.bk2 td {
    background-color: #0f0;
}
.gridtable tr.bk3 td {
    background-color: #00f;
}
.gridtable tr.bk4 td {
    background-color: #f00;
}
