/* paintstyles by Bliss*/

/* whole web pages */
body {
	width: 800px;
	margin: 0 auto; /* center */
    margin-bottom: 15px;
	margin-top: 15px;
    background-color: #fff;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    font-size: 12pt;
    border-style: dotted;
    border-width: 5px;
    border-color: #000;
    padding: 20px;
    
    min-height: 1000px;
    min-width: 800px;

    border-radius: 30px;
    -moz-border-radius: 30px; /* old Firefox */
}

img {
    width: 300px;
    margin: 50px;
}

h1 {
    margin: 0px;
    font-weight: normal;
    font-size: 18pt;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

/* table style */
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11pt;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}