/* whole web pages*/
body {
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    font-size: 12pt;
}

/*
    h1: article title
    h2: article subtitle
    h3: article section heading
    h4:
    h5:
    h6:
     */
h1 {
    margin: 0px;
    font-weight: normal;
    font-size: 18pt;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 16pt;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

h3,
h4 {
    margin-bottom: 2px;
    font-weight: normal;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    color: #000000;
}

h3 {
    font-size: 12pt;
    margin-top: 35px;
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
}

h4 {
    font-size: 12pt;
    margin-top: 32px;
    color: #000000;
    font-weight: bold;
}

a:link {
    color: #000000;
}

a:visited {
    color: #575757;
}

a:hover {
    color: #f00;
}

a:active {
    color: #f00;
}

ul li {
    list-style-type: disc;
}





/************** header & footer **************/
div#footer,
div#header {
    width: 800px;
    padding: 0px;
    margin: 0 auto; /*center*/
    text-decoration: none;
    font-size: 10pt;
}

/************** menubar **************/
div#menubar {
    margin: 0 auto; /*center*/
    width: 800px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f0f0f0;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    clear: both;
    text-align: center;
}

    div#menubar table {
        width: 100%;
    }

    div#menubar a {
        color: #575757;
        text-decoration: none;
    }

        div#menubar a:hover {
            color: #000000;
            border-bottom: 1px dotted;
        }

/************** disparea **************/
div#disparea {
    margin: 0 auto; /*center*/
    width: 800px;
    padding: 0px;
    clear: both;
    overflow: auto;
}

    div#disparea iframe {
        width: 100%;
        min-height: 600px;
        min-width: 800px;
        border-style: none;
        padding: 0px;
    }

/************** titles **************/










hr {
    height: 2px;
    border: 0;
    background-color: #808080;
}
