/* whole web pages*/
body {
    margin-left: 20px;
    margin-top: 15px;
    background-color: white;
    font-family: Georgia,Helvetica,sans-serif,Arial;
    font-size: 10pt;
}

/* title for every page*/
h1 {

}













hr {
  height: 2px;
  border: 0;
  background-color: #808080; 
}